/*Schrijf hier jouw css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 75px;
    background-color: #030027;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 24px;
    margin-left: 50px;

    align-items: center;
    color: ghostwhite;
}

.header-buttons {
    display: flex;
    justify-content: flex-end;
    flex-grow: 4;
}

.header-buttons button {
    background-color: transparent;
    color: white;
    font-size: 14px;
    cursor: pointer;
    width: 150px;
    border: none;
}

.header-buttons button:hover {
    background-color: #151E3F;
}

body {
    display: flex;
    flex-direction: column;
    background: #F2F3D9;
    font-family: 'Nunito', sans-serif;
    flex-shrink: 0;
    flex-grow: 0;
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sections {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
    text-align: center;
    flex-grow: 1;
    height:  350px;
}

.spacer {
    flex-grow: 1;
}

.section-1, .section-2, .section-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: #c16e70;
    flex-grow: 0;
    border-radius: 5px;
    height: 100%;
    max-width: 280px;


}


